<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'list', book: @book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td></td>
          <td>
            <a href="/books/:id">
              <%= @book.title %>
            </a>
          </td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <%= link_to "Destroy", class:"btn btn-sm btn-danger", book_path(@book), method: :delete %>
        </tr>
      </table>
    </div>

  </div>
</div>
